* {
	box-sizing:border-box;
}

html {
	height: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
	background:#eaeaea;
	color:#444;
	font-size:15px;
	display:flex;
	flex-direction:column;
	min-height:100%;
	margin:0;
}

div, span, a, button, form {
	box-sizing: border-box;
	position: relative;

	display: flex;
	flex-direction: column;
	align-items: stretch;
	flex-shrink: 0;
	align-content: flex-start;

	border: 0 solid black;
	margin: 0;
	padding: 0;

	color:#444;
}

span {
	flex-direction:'row';
}

span span, a span, span a, button span {
	display: inline-flex;
	color:inherit;
}

#app {
	flex:1
}