form.createEvent {
	max-width: 50em;
	margin: auto;
	padding: 1em 2em;
	margin-top: 1em;
}

.createEvent [type="submit"] {
	margin-top: 1em;
	float: right;
	margin-bottom: 2em;
}

.mapContainer {
	position: relative;
	height: 20em;
	width: 100%;
	margin-top: 1em;
	border-radius: 0.25em;
	overflow: hidden;
}

#map {
	position: absolute;
	height: 100%;
	width: 100%;
}

#mapCover {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	position: abosolute;
	background: rgba(0, 0, 0, 0.5);
}