/* EVENTS SEARCH */

.events-search {
	padding:2em 0;
	background-color:#444;
}


/* EVENTS LIST */

.events-list {
	padding:2em 0;
}

.events-list h3 {
	font-weight: 600;
	text-transform:uppercase;
	color:#aaa;
	font-size:0.75em;
}

.events-list h3:not(:first-child) {
	margin-top: 2.5em;
}


/* EVENT */

.event .basic-info .name {
	font-size:1.7em;
	font-weight: 300;
	display:block;
	position: relative;
	line-height: 1.1em;
	top: -0.1em;
}

.event .basic-info .when {
	font-size: 0.9em;
	color:#888;
}

.event .basic-info .when:before {
	content:'@ ';
}

.event .summary {
	color:#fff;
}

.event .summary .category,
.event .summary .info {
	font-size: 0.8em;
}

.event .summary .info img {
	height:0.9em;
	vertical-align: baseline;
}


/* EVENT ITEM */

.event.item {
	background:#fff;
	color:#444;
	text-decoration: none;
	position: relative;
	display: block;
	margin-top:1em;
	cursor:pointer;
	transition: box-shadow 0.05s, transform 0.05s;
}

.event.item:hover {
	box-shadow:-0.1em 0.3em 0.4em #e5e5e5;
	transform: translate(0.05em, -0.1em);
}

.event.item:active {
	opacity:0.8;
}

.event.item .basic-info {
	padding:1em;
	padding-right:18em;
}

.event.item .summary {
	position: absolute;
	top:0; right:0;
	width:17em;
	height:100%;
}

.event.item .summary .category,
.event.item .summary .info {
	height:50%;
	text-align: center;
	display: flex;
	align-items:center;
	justify-content:center;
}

.event.item .summary .info {
	background:rgba(0,0,0,0.2);
}

.event.item .summary .info > span {
	display: inline-block;
	width:33%;
	text-align: center;
}

/* EVENT PAGE */

.event.page {

}

.event.page .header {
	background: #fff;
	padding: 1em 0;
}

.event.page .header .basic-info {
	font-size:1.1em;
}

.event.page .header .when .period {
	font-size:0.8em;
}

.event.page .header .share {
	margin-top:0.5em;
	height:37px;
}

.event.page .summary {
	border-bottom: 3px solid rgba(0,0,0,0.2);
	padding:0.5em 0;
}

.event.page .summary .info,
.event.page .summary .category {
	background:transparent;
	width:50%;
	text-align: left;
	display: block;
}

.event.page .summary .category {
	float:right;
	text-align: right;
}

.event.page .summary .info > span {
	padding-right:1em;
}

/* CATEGORY COLORS */

.volunteer {
	background-color:#ff5e97; 
}

.volunteer .info {
	background-color:#d14278;
}

.games {
	background-color:#0278ba; 
}

.games .info {
	background-color:#0154a1;
}

.food {
	background-color:#5300a6; 
}

.food .info {
	background-color:#420083;
}

.travel {
	background-color:#00b464; 
}

.travel .info {
	background-color:#008d46;
}

.sports {
	background-color:#fe8413; 
}

.sports .info {
	background-color:#e06c0d;
}

.other {
	background-color:#7f7f7f; 
}

.other .info {
	background-color:#595959;
}