{% extends "layout.html" %}

{% block content %}

<div class="page">
	<section class="events-search"></section>
	<form method="POST" action="/create/event" class="createEvent">
		<div class="field">
			<label required>Event Title</label>
			<input name="title" type="text" required />
		</div>
		<div class="field">
			<label required>Time</label>
			<input name="datetime" type="time" required>
		</div>
		<div class="field location">
			<label required>Location</label>
			<input name="location" type="text" required />
			<div class="mapContainer">
				<div id="mapCover"></div>
				<div id="map">
					<noscript>
					<!-- http://code.google.com/apis/maps/documentation/staticmaps/ -->
					<img src="http://maps.google.com/maps/api/staticmap?center=1%20infinite%20loop%20cupertino%20ca%2095014&amp;zoom=16&amp;size=512x512&amp;maptype=roadmap&amp;sensor=false" />
					</noscript>
				</div>
			</div>
		</div>
		<div class="field">
			<label required>Category</label>
			<select name="category" required>
				<option value="outdoors">travel & outdoors</option>
				<option value="food">food & leisure</option>
				<option value="sports">sports & fitness</option>
				<option value="games">games & hobbies</option>
				<option value="volunteer">volunteer & community</option>
				<option value="">other</option>
			</select>
		</div>

		<button type="submit">Create Event</button>
	</form>
</div>

{% endblock %}