<a class="event item" href="/event/{{event.id}}">
	<div class="basic-info">
		<span class="name">
			{{event.title}}
		</span>
		<span class="">
			<span>{{event.casualTime}}</span>
			<div>{{event.location}}</div>
		</span>
	</div>
	<div class="summary {{event.category}}">
		<div class="category">
			{{event.categoryDisplay}}
		</div>
		<div class="info">
			<span class="people"><img class="icon" src="/images/person-white.png" /> 1 going</span>
			<span class="time"><img class="icon" src="/images/clock-white.png" /> {{event.relativeTime}}</span>
			<span class="location"><img class="icon" src="/images/white-pin.png" /> 6.1 mi</span>
		</div>
	</div>
</a>