{% extends "layout.html" %}

{% block content %}

<div class="event page">
	<section class="map">
	</section>

	<div class="summary volunteer">
		<div class="content">
			<div class="category">
				volunteer &amp; community
			</div>
			<div class="info">
				<span class="people"><img class="icon" src="/images/person-white.png" /> 1 going</span>
				<span class="time"><img class="icon" src="/images/clock-white.png" /> in 26m</span>
				<span class="location"><img class="icon" src="/images/white-pin.png" /> 6.1 mi</span>
			</div>
		</div>
	</div>

	<section class="header">
		<div class="content">
			<div class="basic-info">
				<div class="name">
					Serving at the Food Bank
				</div>
				<div class="when">
					<time>2:30pm</time>
					<span class="period">This Afternoon</span>
				</div>
				<div class="share">
					<div class="addthis_sharing_toolbox"></div>
				</div>
			</div>
			<div class="location">
				<strong>River's Edge Sports Complex</strong>
				<address>302 Wiley Dr SW, <br /> Roanoke, VA 24014</address>
				<button>I'm in!</button>
			</div>
		</div>
	</section>
</div>

{% endblock %}