<a class="event item" href="/event/{{event.id}}">
	<div class="basic-info">
		<span class="name">
			{{event.title}}
		</span>
		<span class="when">
			{{event.datetime}} - {{event.location}}
		</span>
	</div>
	<div class="summary volunteer">
		<div class="category">
			volunteer &amp; community
		</div>
		<div class="info">
			<span class="people"><img class="icon" src="/images/person-white.png" /> 1 going</span>
			<span class="time"><img class="icon" src="/images/clock-white.png" /> in 26m</span>
			<span class="location"><img class="icon" src="/images/white-pin.png" /> 6.1 mi</span>
		</div>
	</div>
</a>