{% extends "layout.html" %}

{% block content %}

<div class="page">
	<section class="hero">
		<div class="content">
			<h1><img src="/images/spur-text-white.png" alt="spur" /></h1>
			<h2>live in the moment</h2>
			<form action="/events" class="search">
				<input name="q" type="text" placeholder="what do you want to do?" />
				<button type="submit">
					<img src="/images/search-white.png" />
				</button>
			</form>
		</div>
	</section>
					
	<section class="about">
		<div class="content">
			<h3>what is spur?</h3>
			<p>Spur lets you post and find `moments`.  These moments are kind of like mini-events that are happening anywhere from right this second to 24 hours in the future.   And they can be just about anything: walking your dog, playing a game of halo, going for a run, or even a game of soccer.</p>
		</div>
	</section>

	<section class="events-list">
		<div class="content">
			<h3>Happening Soon</h3>
			<a class="event item" href="/event.html">
				<div class="basic-info">
					<span class="name">
						Serving at the Food Bank
					</span>
					<span class="when">
						2:30pm - Roanoke Valley Food Bank
					</span>
				</div>
				<div class="summary volunteer">
					<div class="category">
						volunteer &amp; community
					</div>
					<div class="info">
						<span class="people"><img class="icon" src="/images/person-white.png" /> 1 going</span>
						<span class="time"><img class="icon" src="/images/clock-white.png" /> in 26m</span>
						<span class="location"><img class="icon" src="/images/white-pin.png" /> 6.1 mi</span>
					</div>
				</div>
			</a>
			<a class="event item" href="/event.html">
				<div class="basic-info">
					<span class="name">
						Serving at the Food Bank
					</span>
					<span class="when">
						2:30pm - Roanoke Valley Food Bank
					</span>
				</div>
				<div class="summary games">
					<div class="category">
						volunteer &amp; community
					</div>
					<div class="info">
						<span class="people"><img class="icon" src="/images/person-white.png" /> 1 going</span>
						<span class="time"><img class="icon" src="/images/clock-white.png" /> in 26m</span>
						<span class="location"><img class="icon" src="/images/white-pin.png" /> 6.1 mi</span>
					</div>
				</div>
			</a>
		</div>
	</section>
</div>

{% endblock %}